# Ignore local .terraform directories
**/.terraform/*

# Ignore Terraform lockfile
.terraform.lock.hcl

# Ignore .tfstate files
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log

# Ignore .tfvars
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Mail Gun API
clean_up_msg.py

# Ignore .pem files
*.pem

# Ignore Ansible group vars
db_and_web_servers.yml

# Ignore Ansible host file
hosts.ini

# Ignore __pycache__
__pycache__